<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32006" type="labelenum" id="num_cameras" values="1|2|3|4" default="1"/>

        <setting label="32007" type="lsep"/>
        <setting label="32002" type="text" id="host_0"/>
        <setting label="32003" type="number" id="port_0" default="88"/>
        <setting label="32004" type="text" id="username_0" default="admin"/>
        <setting label="32005" type="text" id="password_0" option="hidden" enable="!eq(-1,)"/>

        <setting label="32008" type="lsep" visible="gt(-6,0)"/>
        <setting label="32002" type="text" id="host_1" visible="gt(-7,0)"/>
        <setting label="32003" type="number" id="port_1" default="88" visible="gt(-8,0)"/>
        <setting label="32004" type="text" id="username_1" default="admin" visible="gt(-9,0)"/>
        <setting label="32005" type="text" id="password_1" option="hidden" enable="!eq(-1,)" visible="gt(-10,0)"/>

        <setting label="32009" type="lsep" visible="gt(-11,1)"/>
        <setting label="32002" type="text" id="host_2" visible="gt(-12,1)"/>
        <setting label="32003" type="number" id="port_2" default="88" visible="gt(-13,1)"/>
        <setting label="32004" type="text" id="username_2" default="admin" visible="gt(-14,1)"/>
        <setting label="32005" type="text" id="password_2" option="hidden" enable="!eq(-1,)" visible="gt(-15,1)"/>

        <setting label="32010" type="lsep" visible="gt(-16,2)"/>
        <setting label="32002" type="text" id="host_3" visible="gt(-17,2)"/>
        <setting label="32003" type="number" id="port_3" default="88" visible="gt(-18,2)"/>
        <setting label="32004" type="text" id="username_3" default="admin" visible="gt(-19,2)"/>
        <setting label="32005" type="text" id="password_3" option="hidden" enable="!eq(-1,)" visible="gt(-20,2)"/>
    </category>
    <category label="32011">
        <setting label="32012" type="bool" id="motion_enable" default="true"/>
            <setting label="32014" type="enum" id="motion_sensitivity" lvalues="32015|32016|32017|32018|32019" default="1" enable="eq(-1,true)" subsetting="true"/>
            <setting label="32020" type="slider" id="motion_trigger_interval" default="15" range="5,1,15" option="int" enable="eq(-2,true)" subsetting="true"/>
        <setting type="sep"/>
        <setting label="32061" type="bool" id="sound_enable" default="true"/>
            <setting label="32014" type="enum" id="sound_sensitivity" lvalues="32015|32016|32017|32018|32019" default="1" enable="eq(-1,true)" subsetting="true"/>
            <setting label="32020" type="slider" id="sound_trigger_interval" default="15" range="5,1,15" option="int" enable="eq(-2,true)" subsetting="true"/>
    </category>     
    <category label="32041">
        <setting label="32013" type="slider" id="check_interval" default="5" range="1,1,10" option="int" subsetting="true"/>
        <setting label="32028" type="labelenum" id="preview_position" lvalues="32029|32030|32031|32032" default="0" subsetting="true"/>
        <setting label="32027" type="slider" id="preview_scaling" default="1.0" range="0.4,0.2,4.0" option="float" subsetting="true"/>
        <setting label="32021" type="slider" id="preview_duration" default="10" range="2,1,60" option="int" subsetting="true"/>
        <setting label="32022" type="slider" id="snapshot_interval" default="1500" range="400,100,5000" option="int" subsetting="true"/>
        <setting label="32023" type="enum" id="snapshot_quality" lvalues="32024|32025|32026" default="1" option="int" subsetting="true"/>
    </category>
    <category label="32051">
        <setting label="32052" type="enum" id="debug" lvalues="32053|32054|32055" default="0"/>
    </category>
</settings>
